In [11]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

import warnings
warnings.filterwarnings('ignore')

In [12]:
dump_data = pd.read_csv("../../../data/masked_data/masked_data_dump.csv")

outpath = "../../../answers/set1"

In [13]:
dump_data.shape

(60644, 74)

In [14]:
duplicate_cols = [col for col in dump_data.columns if col.endswith('_y')]
dump_data.drop(columns=duplicate_cols, inplace=True)

dump_data.columns = [col[:-2] if col.endswith('_x') else col for col in dump_data.columns]

In [15]:
dump_data["plan_shipment_start_date_time"] = pd.to_datetime(dump_data["plan_shipment_start_date_time"],errors='coerce')
dump_data["pick_start_date_time"] = pd.to_datetime(dump_data["pick_start_date_time"],errors='coerce')
dump_data["plan_delivery_date"] = pd.to_datetime(dump_data["plan_delivery_date"],errors='coerce')
dump_data["unload_date_time"] = pd.to_datetime(dump_data["unload_date_time"],errors='coerce')
dump_data["order_created_on"] = pd.to_datetime(dump_data["order_created_on"],errors='coerce')
dump_data["load_completed_date_time"] = pd.to_datetime(dump_data["load_completed_date_time"],errors='coerce')
dump_data["pick_trackingdeparttime"] = pd.to_datetime(dump_data["pick_trackingdeparttime"],errors='coerce')
dump_data["pick_end_date_time"] = pd.to_datetime(dump_data["pick_end_date_time"],errors='coerce')
dump_data["drop_trackingarrivaltime"] = pd.to_datetime(dump_data["drop_trackingarrivaltime"],errors='coerce')

In [16]:
cols = ['plan_shipment_start_date_time', 'pick_start_date_time','pick_end_date_time', 'load_completed_date_time',
        'pick_trackingeta', 'pick_trackingdeparttime','drop_trackingarrivaltime','drop_trackingeta','unload_date_time']
for col in cols:
    dump_data[col] = pd.to_datetime(dump_data[col], errors='coerce')
    dump_data[col] = np.where(dump_data[col].dt.year<2020, np.datetime64('NaT'), dump_data[col])

q1: What is the Distribution of Planned Dispatch Time vs Actual Dispatch Time

In [18]:
df = dump_data[['sto_sap_invoice',"plan_shipment_start_date_time",'pick_trackingdeparttime']]
#df = dump_data[(~dump_data.pick_trackingdeparttime.isna()) & (~dump_data.plan_shipment_start_date_time.isna())].reset_index(drop=True)
df['Planned-Actual_Dispatch_Time_diff'] = (df["plan_shipment_start_date_time"]-df["pick_trackingdeparttime"]).astype('timedelta64[h]') 
df_1 = df[['sto_sap_invoice','plan_shipment_start_date_time','pick_trackingdeparttime','Planned-Actual_Dispatch_Time_diff']]

# df_1.to_excel(os.path.join(outpath,"q1.xlsx"), index=False)
df_1.describe()

       sto_sap_invoice  Planned-Actual_Dispatch_Time_diff
count     6.064400e+04                       23318.000000
mean      6.917937e+09                          -0.555022
std       2.080822e+09                          18.854755
min       7.612390e+05                        -418.000000
25%       7.612324e+09                          -2.000000
50%       7.612543e+09                           0.000000
75%       7.612694e+09                           1.000000
max       7.613060e+09                        1119.000000

In [35]:
pd.DataFrame(dump_data.columns)

                                                    0
0                                     sto_sap_invoice
1                                      dps_tm_load_id
2                                             ctry_nm
3                                          dps_tripid
4                                source_location_type
5                                source_location_name
6                           destination_location_type
7                           destination_location_name
8                       plan_shipment_start_date_time
9                                pick_start_date_time
10                                 pick_end_date_time
11                           load_completed_date_time
12                                   pick_dps_stop_id
13                                  pick_locationname
14                                   pick_trackingeta
15                            pick_trackingdeparttime
16                             pick_tracking_timezone
17                  pick_tracking_timezone_short_name
18                                   drop_dps_stop_id
19                                  drop_locationname
20                           drop_trackingarrivaltime
21                                   drop_trackingeta
22                             drop_tracking_timezone
23                  drop_tracking_timezone_short_name
24                                 plan_delivery_date
25                               is_product_cancelled
26                                       carrier_name
27                                       carrier_code
28                                   unload_date_time
29                                     sap_tm_load_id
30                                        ordered_qty
31                                      total_cut_qty
32                                        shipped_qty
33                                       received_qty
34                             src_to_dest_dist_miles
35                                      uom_order_qty
36                                    uom_shipped_qty
37                                   uom_received_qty
38                                   order_created_on
39                                       miles_bucket
40                               miles_bucket_encoded
41         order_created_on-pick_start_date_time-diff
42     order_created_on-pick_start_date_time-diff-75%
43  order_created_on-pick_start_date_time-diff-Q3+...
44  order_created_on-pick_start_date_time-diff-yel...
45  order_created_on-pick_start_date_time-diff-red...
46       pick_start_date_time-pick_end_date_time-diff
47   pick_start_date_time-pick_end_date_time-diff-75%
48  pick_start_date_time-pick_end_date_time-diff-Q...
49  pick_start_date_time-pick_end_date_time-diff-y...
50  pick_start_date_time-pick_end_date_time-diff-r...
51   pick_end_date_time-load_completed_date_time-diff
52  pick_end_date_time-load_completed_date_time-di...
53  pick_end_date_time-load_completed_date_time-di...
54  pick_end_date_time-load_completed_date_time-di...
55  pick_end_date_time-load_completed_date_time-di...
56  load_completed_date_time-pick_trackingdepartti...
57  load_completed_date_time-pick_trackingdepartti...
58  load_completed_date_time-pick_trackingdepartti...
59  load_completed_date_time-pick_trackingdepartti...
60  load_completed_date_time-pick_trackingdepartti...
61  pick_trackingdeparttime-drop_trackingarrivalti...
62  pick_trackingdeparttime-drop_trackingarrivalti...
63  pick_trackingdeparttime-drop_trackingarrivalti...
64  pick_trackingdeparttime-drop_trackingarrivalti...
65  pick_trackingdeparttime-drop_trackingarrivalti...
66     drop_trackingarrivaltime-unload_date_time-diff
67  drop_trackingarrivaltime-unload_date_time-diff...
68  drop_trackingarrivaltime-unload_date_time-diff...
69  drop_trackingarrivaltime-unload_date_time-diff...
70  drop_trackingarrivaltime-unload_date_time-diff...

In [31]:
from scipy import stats
stats.percentileofscore(df_1["Planned-Actual_Dispatch_Time_diff"].dropna(),24)

np.quantile(df_1["Planned-Actual_Dispatch_Time_diff"].dropna(), 0.98)

23.0

Q2 What is the Distribution of Promised Delivery Date/Time vs Actual Delivery Date/Time

In [9]:


### If drop tracing arrival time is NULL use unload date time 
df = dump_data[(~dump_data.drop_trackingarrivaltime.isna()) & (~dump_data.plan_delivery_date.isna())].reset_index(drop=True)
df['Planned-Actual_Delivery_Time_diff'] = (df["drop_trackingarrivaltime"]-df["plan_delivery_date"]).astype('timedelta64[h]')
df_1 = df[['sto_sap_invoice',"drop_trackingarrivaltime","plan_delivery_date",'Planned-Actual_Delivery_Time_diff']]

df_1.to_excel(os.path.join(outpath,"q2.xlsx"), index=False)
df_1.describe()

       sto_sap_invoice  Planned-Actual_Delivery_Time_diff
count     2.124900e+04                       21249.000000
mean      6.917787e+09                          10.720740
std       2.081130e+09                         144.747574
min       7.612550e+05                       -7761.000000
25%       7.612523e+09                           7.000000
50%       7.612646e+09                          14.000000
75%       7.612716e+09                          20.000000
max       7.613053e+09                         690.000000

Q3: What is the current volume of Active Trips at each stage and how many are at Risk of Delay

In [10]:
dump_data["invoice_update"] = np.where(dump_data["order_created_on"].isna(),0,1)
dump_data["invoice_update"] = np.where(dump_data["pick_start_date_time"].isna(),dump_data["invoice_update"],2)
dump_data["invoice_update"] = np.where(dump_data["pick_end_date_time"].isna(),dump_data["invoice_update"],3)
dump_data["invoice_update"] = np.where(dump_data["load_completed_date_time"].isna(),dump_data["invoice_update"],4)
dump_data["invoice_update"] = np.where(dump_data["pick_trackingdeparttime"].isna(),dump_data["invoice_update"],5)
dump_data["invoice_update"] = np.where(dump_data["drop_trackingarrivaltime"].isna(),dump_data["invoice_update"],6)
dump_data["invoice_update"] = np.where(dump_data["unload_date_time"].isna(),dump_data["invoice_update"],7)

In [11]:
stage_dict = {0: "Order not created",
              1: "Order created",
              2: "Loading started",
              3: "Loading Ended",
              4: "In Yard",
              5: "On Road",
              6: "Arrived",
              7: "Unloaded"
              }

dump_data['stage'] = dump_data["invoice_update"].map(stage_dict)

In [12]:
out1 = dump_data.stage.value_counts().reset_index()
out1.columns = ["stage", "Total trips count"]
out1.to_excel(os.path.join(outpath,'q3_1.xlsx'), index=False)

In [13]:
dump_data["invoice_red_flags"] = np.where(dump_data["pick_start_date_time-pick_end_date_time-diff-red_flag"]==0,0,1)
# dump_data["invoice_red_flags"] = np.where(dump_data["pick_end_date_time-load_completed_date_time-diff-red_flag"]==0,dump_data["invoice_red_flags"],2)
dump_data["invoice_red_flags"] = np.where(dump_data["load_completed_date_time-pick_trackingdeparttime-diff-red_flag"]==0,dump_data["invoice_red_flags"],3)
dump_data["invoice_red_flags"] = np.where(dump_data["pick_trackingdeparttime-drop_trackingarrivaltime-diff-red_flag"]==0,dump_data["invoice_red_flags"],4)
dump_data["invoice_red_flags"] = np.where(dump_data["drop_trackingarrivaltime-unload_date_time-diff-red_flag"]==0,dump_data["invoice_red_flags"],5)

In [14]:
dump_data['invoice_red_flags'] = dump_data['invoice_red_flags'].map({
    0 : "No Flags",
    1 : "Loading Risk",
    3: "In Yard Risk",
    4: "On Road Risk",
    5 : "Unloading Risk"
})
out2 = dump_data.invoice_red_flags.value_counts().reset_index()
out2.columns = ['stage', 'red_flag']

In [15]:
dump_data["invoice_yellow_flags"] = np.where((dump_data["pick_start_date_time-pick_end_date_time-diff-yellow_flag"] ==1 & dump_data["pick_start_date_time-pick_end_date_time-diff-red_flag"])!=1,1,0)
# dump_data["invoice_yellow_flags"] = np.where((dump_data["pick_end_date_time-load_completed_date_time-diff-yellow_flag"] ==1 & dump_data["pick_end_date_time-load_completed_date_time-diff-red_flag"])!=1,2,dump_data["invoice_yellow_flags"])
dump_data["invoice_yellow_flags"] = np.where((dump_data["load_completed_date_time-pick_trackingdeparttime-diff-yellow_flag"] ==1 & dump_data["load_completed_date_time-pick_trackingdeparttime-diff-red_flag"])!=1,3,dump_data["invoice_yellow_flags"])
dump_data["invoice_yellow_flags"] = np.where((dump_data["pick_trackingdeparttime-drop_trackingarrivaltime-diff-yellow_flag"] ==1 & dump_data["pick_trackingdeparttime-drop_trackingarrivaltime-diff-red_flag"])!=1,4,dump_data["invoice_yellow_flags"])
dump_data["invoice_yellow_flags"] = np.where((dump_data["drop_trackingarrivaltime-unload_date_time-diff-yellow_flag"] ==1 & dump_data["drop_trackingarrivaltime-unload_date_time-diff-red_flag"])!=1,5,dump_data["invoice_yellow_flags"])

In [16]:
dump_data['invoice_yellow_flags'] = dump_data['invoice_yellow_flags'].map({
    0 : "No Flags",
    1 : "Loading Risk",
    3: "In Yard Risk",
    4: "On Road Risk",
    5 : "Unloading Risk"
})
out3 = dump_data.invoice_yellow_flags.value_counts().reset_index()
out3.columns = ['stage', 'yellow_flag']

out2.merge(out3, on='stage', how='outer').to_excel(os.path.join(outpath,"q3_2.xlsx"), index=False)
out2.merge(out3, on='stage', how='outer')

            stage  red_flag  yellow_flag
0        No Flags     50940        42480
1    Loading Risk      3910         8280
2    On Road Risk      2396         2851
3  Unloading Risk      2256         3692
4    In Yard Risk      1142         3341

In [18]:
# dump_data["pick_end_date_time-load_completed_date_time-diff-red_flag"].value_counts()

Q4: Call for action for DC/Plant/Transpo/ CS Managers to prevent delay

In [18]:
df = pd.DataFrame(dump_data.groupby("source_location_type").apply(lambda x: pd.Series({
    "sto_sap_invoice_count": x["sto_sap_invoice"].count(),
    "invoice_flags_count": ((x["invoice_yellow_flags"] != "No Flags") | (x["invoice_red_flags"] !=  "No Flags")).sum()
})))
df["percentage_flags"] = df['invoice_flags_count']/df['sto_sap_invoice_count'] *100

df.to_excel(os.path.join(outpath,'q4.xlsx'))
df
#dump_data.groupby("source_location_type")["sto_sap_invoice","invoice_yellow_flags"].count()

,sto_sap_invoice_count,invoice_flags_count,percentage_flags
source_location_type,,,
CP,1841,423,22.976643
DC,85,38,44.705882
PL,47472,22042,46.431581
RP,11246,2431,21.616575

In [19]:
dump_data.groupby("source_location_type")["pick_start_date_time-pick_end_date_time-diff"].describe()

,count,mean,std,min,25%,50%,75%,max
source_location_type,,,,,,,,
CP,1.0,0.000000,NaN,0.0,0.000000,0.000000,0.000000,0.000000
DC,63.0,55.171049,40.051012,0.0,25.857917,44.083333,80.783333,150.516667
PL,44280.0,17.924831,21.256232,0.0,5.430764,10.325694,21.762500,565.433333
RP,364.0,3.000794,36.910033,0.0,0.000000,0.000000,0.000000,637.113611

Q5: Sense any typical reasons for delays in the last 1 week/ month (A particular source, A particular source-destination route, A particular type of Order, Certain products in an Order, A particular Customer's shipment)

In [20]:
latest_data = dump_data.loc[(dump_data['order_created_on'].dt.month == 1) & (dump_data['order_created_on'].dt.year == 2023)]

In [23]:
latest_data_counts = latest_data.stage.value_counts().reset_index()
latest_data_counts.columns = ['stage', 'last_month_count']
latest_data_counts

             stage  last_month_count
0    Order created              2253
1          In Yard              1575
2          Arrived              1117
3  Loading started               541
4          On Road               254
5         Unloaded               180
6    Loading Ended                 6

In [24]:
delayed_data = latest_data.loc[(latest_data['invoice_yellow_flags'] !="No Flags") | (latest_data['invoice_red_flags'] !="No Flags")]

In [25]:
delayed_data_counts = delayed_data.stage.value_counts().reset_index()
delayed_data_counts.columns = ['stage', 'last_month_count_delayed']
delayed_data_counts

           stage  last_month_count_delayed
0        Arrived                       673
1        In Yard                       294
2       Unloaded                       133
3        On Road                       112
4  Loading Ended                         1

In [26]:
latest_data_counts.merge(delayed_data_counts, on='stage', how='outer').to_excel(os.path.join(outpath,'q5.xlsx'), index=False)
latest_data_counts.merge(delayed_data_counts, on='stage', how='outer')

             stage  last_month_count  last_month_count_delayed
0    Order created              2253                       NaN
1          In Yard              1575                     294.0
2          Arrived              1117                     673.0
3  Loading started               541                       NaN
4          On Road               254                     112.0
5         Unloaded               180                     133.0
6    Loading Ended                 6                       1.0

Q6: Trend of average Order to Delivery Time

In [27]:

df = dump_data[(~dump_data.order_created_on.isna() & ~dump_data.unload_date_time.isna())].reset_index(drop=True)
df['average_Order_to_DeliveryTime'] = (df['drop_trackingarrivaltime']-df['order_created_on']).astype('timedelta64[s]') / 3600
df = df[['drop_trackingarrivaltime','order_created_on',"average_Order_to_DeliveryTime",'sto_sap_invoice']]

df.to_excel(os.path.join(outpath, "q6.xlsx"), index=False)

In [28]:
df.describe()

       average_Order_to_DeliveryTime  sto_sap_invoice
count                   18444.000000     4.286600e+04
mean                      180.670561     6.919724e+09
std                       139.954516     2.078461e+09
min                         6.150000     7.612390e+05
25%                        89.083056     7.612427e+09
50%                       105.423056     7.612562e+09
75%                       245.593194     7.612677e+09
max                      1889.107222     7.613023e+09

In [29]:
df.shape

(42866, 4)

Q7: Trend of average Order processing time at Source

In [32]:
df = dump_data[(~dump_data.pick_start_date_time.isna() & ~dump_data.pick_trackingdeparttime.isna())].reset_index(drop=True)
df['average_Order_to_processingTime'] = (df['pick_trackingdeparttime']-df['pick_start_date_time'])
df = df[['sto_sap_invoice','pick_start_date_time',"pick_trackingdeparttime","average_Order_to_processingTime"]]

df.to_excel(os.path.join(outpath, "q7.xlsx"), index=False)

Q8: Volume shipped between source and destination

In [35]:
dump_data.groupby(["source_location_type","destination_location_type"]).shipped_qty.agg(['sum','count']).reset_index().to_excel(os.path.join(outpath,'q8_1.xlsx'), index=False)

dump_data.groupby(["source_location_type","destination_location_type"]).shipped_qty.agg(['sum','count']).reset_index()

   source_location_type destination_location_type          sum  count
0                    CP                        DC    354955.00    320
1                    CP                        PL   1772711.00   1094
2                    CP                        RP     79006.00     51
3                    DC                        DC     50969.00     47
4                    DC                        PL     16045.00     20
5                    PL                        CP   1263217.00    273
6                    PL                        DC  25380203.00  18796
7                    PL                        PL  17399717.00  10794
8                    PL                        RP  11241844.00   8727
9                    RP                        DC   4014915.00   3945
10                   RP                        PL   5083754.98   5002
11                   RP                        RP     47127.00     43

In [37]:
#Volume shipped between source and destination
dump_data.groupby(["source_location_name","destination_location_name"]).shipped_qty.agg(['sum','count']).reset_index().to_excel(os.path.join(outpath,'q8_2.xlsx'), index=False)

dump_data.groupby(["source_location_name","destination_location_name"]).shipped_qty.agg(['sum','count']).reset_index()

        source_location_name       destination_location_name       sum  count
0     CALGARY AB GES PEC HUB                      EL PASO DC    2052.0      1
1     CALGARY AB GES PEC HUB   FRITO LAY CP DAIRY FARMERS TX   18363.0     16
2     CALGARY AB GES PEC HUB          FRITO LAY CP GILMER GA    6783.0      7
3     CALGARY AB GES PEC HUB    FRITO LAY CP RUDOLPH WEST CA   45576.0     32
4     CALGARY AB GES PEC HUB  FRITO LAY CP SHEARERS FOODS TX  125237.0     87
...                      ...                             ...       ...    ...
1400             SALEM OR DC               SALT LAKE CITY PL   93889.0     93
1401             SALEM OR DC            SOUTH SAN ANTONIO DC    5004.0      2
1402             SALEM OR DC                 VALLEY FORGE DC   12313.0      6
1403             SALEM OR DC                 VILLE VANIER DC   27989.0     20
1404             SALEM OR DC                     WINNIPEG DC   15278.0      8

[1405 rows x 4 columns]

Q9: Amount of product being unloaded at the destination

In [38]:
shipped_qty_by_destination = dump_data.loc[(dump_data['invoice_update'] == 7)]
pd.DataFrame(shipped_qty_by_destination.groupby(["destination_location_name"]).received_qty.sum().sort_values(ascending=False)).reset_index().to_excel(os.path.join(outpath,'q9.xlsx'), index=False)
pd.DataFrame(shipped_qty_by_destination.groupby(["destination_location_name"]).received_qty.sum().sort_values(ascending=False)).head()

                               received_qty
destination_location_name
CUCAMONGA TRAFFIC CENTER          2636279.0
FRITO LAY PL ARLINGTON TX         1627194.0
FRITO LAY RP QUAL PAK HOUSTON     1156590.0
FRITO LAY CP ARA FOODS FL         1133038.0
FRITO LAY PL KIRKWOOD NY          1021713.0

In [39]:
pd.DataFrame(dump_data.groupby(["destination_location_name"]).received_qty.sum().sort_values(ascending=False))

                                received_qty
destination_location_name
CUCAMONGA TRAFFIC CENTER          2967588.00
FRITO LAY PL ARLINGTON TX         1969752.00
FRITO LAY RP QUAL PAK HOUSTON     1425760.00
FRITO LAY CP ARA FOODS FL         1248977.00
FRITO LAY PL KIRKWOOD NY          1219513.00
SALEM OR DC                       1195503.00
FRITO LAY PL BELOIT WI            1102647.00
FRITO LAY CP RUDOLPH FOODS CEN    1041728.00
FRITO LAY RP ALLEN NE CUSTOM      1009260.98
FRITO LAY PL LAUZON QC            1003920.00
FRITO LAY PL IRVING TX             911551.00
LORTON DC                          866238.00
FRITO LAY CP SHEARER'S AZ          841500.00
MIAMI DC                           831185.00
FRITO LAY RP DGN REPACK            818796.00
FRITO LAY PL TABER AB              813361.00
FRITO LAY RP GILMER CUSTOM         775814.00
FRITO LAY CP RUDOLPH WEST CA       755332.00
FL RP QUAL PAC KANSAS CITY         658322.00
FRITO LAY PL TOPEKA KS             650757.00
GRAND PRAIRIE PL                   630246.00
FRITO LAY CP SHEARERS OH           614924.00
SANTA ROSA DC                      590088.00
DAYTONA BEACH DC                   572477.00
FRITO LAY RP TECH PKG SOUTH FL     550591.00
FRITO LAY PL FAYETTEVILLE TN       536768.00
FRANKLIN PARK NJ RELAY             507876.00
VALLEY FORGE DC                    502092.00
FRITO LAY PL MODESTO CA            500748.00
BRONX NY GES PEC #1                497375.00
FRITO LAY PL FAYETTEVILLE WHSE     496187.00
FRITO LAY PL ROSENBERG TX          493173.00
REDMOND DC                         485059.00
FRITO LAY DC CITY OF INDUSTRY      475830.00
FRITO LAY PL CHARLOTTE NC          470604.00
FRITO LAY PL MIDWEST REG WHSE      451724.00
FRITO LAY PL INDY NMC              446122.00
FRITO LAY PL VANCOUVER WA          438149.00
FRITO LAY PL FRANKFORT EAST IN     434093.00
FRANKLIN PARK NJ DC                433934.00
FRITO LAY PL ORLANDO FL            430145.00
ROCKLEDGE DC                       426580.00
FRITOLAY RP MENASHA BRIDGEVIEW     424288.00
FRITO LAY CP SHEARERS FOODS TX     415979.00
COFFEE CUP FUEL STOP               400897.00
FRITO LAY CP GILMER GA             398140.00
FAIRFIELD DC                       388808.00
FRITO LAY PL CANTON OH             387783.00
FRITO LAY DC VENTURA CA            378340.00
HIGH POINT DC                      373182.00
SUMMITT IL DC                      372850.00
FRITO LAY DC REDMOND RIDGE         369678.00
GREAT LAKES MI DC                  368950.00
FRITO LAY DC SAN ANTONIO           368529.00
PALM SPRINGS CA GES PEC PDSD       360604.00
CLEVELAND OH DC                    358063.00
LACOMBE LA DC                      344227.00
FRITO LAY PL CHARLOTTE NC WHSE     337439.00
CAPITAL HEIGHTS MD GES PEC #1      334895.00
FRITO LAY PL CAMBRIDGE ON          334662.00
GRAND FALLS AGROMART LTD           334104.00
FRITO LAY RP MENASHA MINOOKA       327825.00
FRITO LAY DC GREAT LAKES MI        327315.00
EL PASO DC                         323847.00
FRITO LAY PL DALLAS TX             317864.00
MAUMEE TOLEDO OH DC                315679.00
VILLE VANIER DC                    315166.00
FRITO LAY PL WEST VALLEY UT        312892.00
FRITO LAY DC ARIZONA SVC AZ        309920.00
ATLANTA NE DC                      307591.00
FRITO LAY DC SOUTHGATE MI          306012.00
FRITO LAY PL IRVING RW             304426.00
FRITO LAY DC MCALLEN TX            302645.00
FRITO LAY PL PERRY GA              296720.00
OLATHE PL                          294116.00
FRITO LAY PL YORK PA               290390.00
FRITO LAY DC LA MEGA CA            282934.00
FRITO LAY DC EL PASO TX            280726.00
FLYING J #775                      275877.00
FRITO LAY DC LAVAL QC              275184.00
RICHMOND DC                        271908.00
FRITO LAY DC FARGO ND              270886.00
INDIANAPOLIS IN DC                 267228.00
CITY OF INDUSTRY DC                265549.00
TECH PACKAGING CUSTOM              263943.00
FLYING J #608                      262799.00
NORTH EVANSVILLE DC                256873.00
FRITO LAY CP AFP CLEAR LAKE WI     256090.00
OAKLEY KS RELAY                    254119.00
MAUMEE DC                          245865.00
BAKERSFIELD DC                     245205.00
CALGARY AB GES PEC HUB             243849.00
DOVER RELAY                        241022.00
FRITO LAY PL SAN ANTONIO TX        239458.00
FRITO LAY RP BELL CARTER CA        239449.00
FRITO LAY DC CRANBERRY  PA         235765.00
CALGARY DC                         235730.00
EASTON RELAY                       234676.00
FRITO LAY DC NEW PALTZ NY          231776.00
WINNIPEG DC                        229183.00
SOUTHGATE MI DC (  APCS )          222968.00
ALBUQUERQUE  DC                    222591.00
CE DOOLIN DC                       221154.00
FRITO LAY PL WHITESTOWN IN         218891.00
SPRINGFIELD TRUCKSTOP              218281.00
GATEWAY MO DC                      214796.00
SACRAMENTO DC                      205963.00
FRITO LAY PL E COMM CHARLOTTE      204434.00
FRITO LAY PL JONESBORO AR          202491.00
SOUTH SAN ANTONIO DC               200885.00
OTTAWA (NEPEAN) D.C.               200415.00
FRITO LAY DC BAKERSFIELD CA        200266.00
JESSUP MD GES PEC                  194423.00
LUBBOCK TX DC                      193956.00
SAN ANTONIO EAST DC                188240.00
FRITO LAY PL CUCAMONGA CA          186684.00
OAK FOREST IL DC                   185827.00
SALT LAKE CITY PL                  182573.00
FRITO LAY DC ORLANDO SVC FL        180909.00
PEORIA IL DC                       180350.00
FRITO LAY DC EVERETT WA            179438.00
FRITO LAY DC AKRON OH              178766.00
TUCSON DC                          178362.00
FRITO LAY PL KENTVILLE NS          176304.00
CHAMPAIGN IL DC                    175719.00
FRITO LAY CP BAUDERER              175283.00
FRESNO BULK DC                     174988.00
FRITO LAY PL DALLAS TX AUX         171993.00
FRITO LAY DC SALEM OR              170944.00
FRITO LAY DC SOUTH POTOMAC         164699.00
FRITO LAY DC ROCKLEDGE FL          164266.00
MEMPHIS DC                         163640.00
FRITO LAY DC LUBBOCK TX            163521.00
FRITO LAY DC PEORIA IL             163083.00
AKRON OH DC                        158913.00
FRITO LAY DC ASHEVILLE NC          158077.00
FRITO LAY PL E COMM MEADVILLE      157222.00
WYANDANCH RELAY                    157061.00
CINCINNATI OH DC                   154772.00
FRITO LAY DC VALLEY FORGE          152842.00
INDY NORTH DC                      146737.00
FRITO LAY RP QUAL PAC VP GP TX     146125.00
FLINT MI DC                        145999.00
JACKSON MS DC                      142654.00
FRITO LAY RP PFLUG CARTERSVLLE     141082.00
FRITO LAY CP DAIRY FARMERS TX      141029.00
RESTAURANT LE ROUTIER              135242.00
FRITO LAY DC TAMPA FL              134295.00
BRADENTON DC                       131001.00
FRITO LAY RP IDS                   130661.00
QUAL PAC DFW CUSTOM RAW            129174.00
FRITO LAY DC BRAINTREE             128484.00
abilene relay                      125635.00
FRITO LAY DC PHOENIX METRO AZ      124716.00
LOUISVILLE KY DC                   123814.00
FRITO LAY PL HAMBURG PA            123470.00
RP DGN MARKETING                   123194.00
FRITO LAY DC DAVENPORT IA          122711.00
FRITO LAY DC ERLANGER KY           122306.00
WILLOWBROOOK DC                    120554.00
FRITO LAY DC RALEIGH NC            120024.00
TECH WEST                          117198.00
NEW PALTZ RELAY                    116794.00
TWINSBURG DC                       115880.00
MENOMONEE FALLS WI DC              113195.00
MICHIGAN TRAFFIC CENTER            112557.00
FRITO LAY DC LOUISVILLE KY         112270.00
FRITO LAY PL ORLANDO METRO FL      111816.00
FRITO LAY DC EL PASO               109691.00
FRITO LAY PL ABERDEEN NMC          108504.00
FRITO LAY DC CE DOOLIN SVC TX      108480.00
FRITO LAY DC SANTA ROSA CA         107882.00
FRITO LAY DC WILLIAMSVILLE NY      107182.00
FRITO LAY DC RICHMOND VA           105298.00
FRITO LAY RP BELL CARTER PHX       104400.00
FRESNO DC                          101484.00
FRITO LAY DC VISALIA CA             98649.00
SNOW SHOE RELAY                     95279.00
GOLD STAR FOODS                     94592.00
FRITO LAY PL DENVER CO FLEX WH      94084.00
IDS                                 91635.00
CRANBERRY PA DC                     91191.00
FRITO LAY DC PENSACOLA FL           90250.00
FRITO LAY DC NORTH EVANSVILLE       89479.00
TECH ECOMM                          88093.00
FRITO LAY DC PINEY FLATS TN         86016.00
FRITO LAY DC HOUSTON NORTH          84506.00
FRITO LAY PL E COMM WAREHOUSE       83383.00
VENTURA DC                          82773.00
FRITO LAY DC HARLINGEN TX           81842.00
FRITO LAY DC MENOMONEE FALLS        81721.00
FRITO LAY DC SAN DIEGO CA           80862.00
FRITO LAY PL PULASKI TN             79874.00
LABATT FOOD SERVICE-HOUSTON         79832.00
EAST EL PASO DC                     78960.00
FRITO LAY DC OTTAWA ON              78742.00
FRITO LAY DC BURLINGTON NJ          78681.00
TOPEKA FRITO LAY PLANT              77481.00
ATCO                                77056.00
BRAMPTON D.C.                       76607.00
FRITO LAY CP SAN FILIPPO ELGIN      69299.00
ORLANDO SUPP WHSE                   68737.00
FRITO LAY DC FAIRFIELD CA           67786.00
FRITO LAY DC SPOKANE WA             66246.00
FRITO LAY CP LIDESTRI FOODS WE      66082.00
SPRINGFIELD IL DC                   65433.00
FRITO LAY DC GATEWAY MO             65283.00
WEST PALM stage                     63800.00
CLIFTON PARK NY RELAY               62184.00
FRITO LAY PL PHOENIX AZ             61612.00
PHOENIX METRO WHSE DC               61578.00
FRITO LAY DC MONTAGE PA             58694.00
FRITO LAY DC EAST SYRACUSE          56711.00
FRITO LAY DC RENO NV                55064.00
LA MIRADA DC                        52510.00
VICTORVILLE CA GES PEC PDSD         52433.00
PENSACOLA DC                        51712.00
CLIFTON PARK NY DC                  50732.00
FRITO LAY PL ABERDEEN MD            43176.00
ORLANDO METRO WAREHOUSE             38627.00
SCARBOROUGH DC                      34240.00
FRITO LAY RP QUAL PAC DFW CUST      27023.00
FRITO LAY DC SURREY BC              21124.00
FRITO LAY RP TECH PKG NORTH PA      20119.00
FRITO LAY PL ORLANDO REG WHSE       20078.00
FRITO LAY RP INDUSTRIAL PKG         16509.00
DALLAS S2U PL                       13379.00
FRITO LAY DC MAUMEE OH              12502.00
FRITO LAY PL WILLIAMSPORT            9948.00
QUAKER DC SAN BERN CA SRV CTR        8820.00
FRITO LAY DC GRAND RAPIDS MI         8736.00
FRITO LAY PL WOOSTER REG WHSE        7140.00
JACKSONVILLE DC                      6360.00
FRITO LAY PL CASA GRANDE AZ          5707.00
FRITO LAY DC CAROL STREAM IL         5292.00
FRITO LAY PL LYNCHBURG VA            1582.00
FRITO LAY RP TECH PKG WEST CA        1470.00
FRITO LAY DC ALBUQUERQUE NM           869.00
FRITO LAY RP WG LETHBRIDGE            368.00
FRITO LAY CP SHEARERS FT WORTH          0.00
FRITO LAY RP ATCO PKG NORTH IL          0.00
FRITO LAY PL ALLEN RIALTO CA            0.00
FRITO LAY DC N NEW JERSEY MEGA          0.00

Q10: Amount of product in the yard/ on the road

In [40]:
shipped_qty_by_yard = dump_data.loc[(dump_data['invoice_update'] == 4)]
pd.DataFrame(shipped_qty_by_yard.groupby(["source_location_name"]).shipped_qty.sum().sort_values(ascending=False)).reset_index().to_excel(os.path.join(outpath,'q10.xlsx'), index=False)

Q11: What is my median time in the Yard before dispatch - a particular location higher

In [41]:
dump_data['in_yard'] = np.where(dump_data['load_completed_date_time'].isna(), dump_data['pick_trackingdeparttime']-dump_data['pick_end_date_time'],
                                dump_data['pick_trackingdeparttime']-dump_data['load_completed_date_time'])
pd.DataFrame(dump_data.groupby(["source_location_name"]).in_yard.median().sort_values(ascending=False)).reset_index().to_excel(os.path.join(outpath,'q11.xlsx'), index=False)

#1900-01-01

Q12: What is the delta between in yard to arrival - how efficiently am I delivering the product

In [43]:
# dump_data['delta_yard_arrival'] = np.where(dump_data['load_completed_date_time'].isna(), dump_data['drop_trackingarrivaltime']-dump_data['pick_end_date_time'],dump_data['drop_trackingarrivaltime']-dump_data['load_completed_date_time'])
# dump_data["delta_yard_arrival"].sort_values(ascending=False)

Q13: How many late arrivals do I have at a location

In [34]:
df = dump_data[["destination_location_name",'plan_delivery_date','drop_trackingarrivaltime']]
df["late_arrivals"] = 0
df["late_arrivals"].loc[df['drop_trackingarrivaltime'] > df['plan_delivery_date']] =1 
pd.DataFrame(df.groupby(["destination_location_name"]).late_arrivals.count().sort_values(ascending=False)).reset_index().to_excel(os.path.join(outpath,'q13.xlsx'), index=False)