In [1]:
import pandas as pd

data_file = "/mnt/d/NLP_Capabiltiies/query_insights/data/masked_invoice_data_25apr.csv"

ip_df = pd.read_csv(data_file)
ip_df.head()

,ctry_nm,sto_sap_invoice,dps_tm_load_id,dps_tripid,source_location_type,source_location_name,destination_location_type,destination_location_name,order_created_on,plan_shipment_start_date_time,...,in_yard-yellow_flag,in_yard-red_flag,on_road,on_road-yellow_flag,on_road-red_flag,unloading,unloading-yellow_flag,unloading-red_flag,invoice_status_time,current_state
0,US,7613207034,14488711,46474415,PL,Location 0,PL,Location 96,08-03-2023,11-03-2023 13:19,...,0,0,0.250000,0,0,66.483333,1,0,unload_date_time,completed
1,US,7610846731,14488190,4139756,PL,Location 1,PL,Location 29,28-02-2023,11-03-2023 07:34,...,1,0,2.966667,0,0,70.250000,1,0,unload_date_time,completed
2,US,7613196031,14415427,46423838,PL,Location 2,DC,Location 97,10-03-2023,13-03-2023 12:31,...,0,0,4.866667,0,0,15.083333,0,0,unload_date_time,completed
3,US,7613226220,14415456,46423814,PL,Location 2,DC,Location 98,10-03-2023,13-03-2023 13:31,...,0,0,3.233333,0,0,14.883333,0,0,unload_date_time,completed
4,US,7613194801,14407672,46480447,PL,Location 0,DC,Location 99,04-03-2023,07-03-2023 23:19,...,0,0,1.933333,0,0,134.733333,1,1,unload_date_time,completed

In [2]:
ip_df["invoice_status_time"].unique()

array(['unload_date_time', 'order_created_on', 'drop_trackingarrivaltime',
       'load_completed_date_time', 'pick_start_date_time',
       'pick_trackingdeparttime', 'pick_end_date_time'], dtype=object)

In [3]:
dt_cols = ip_df["invoice_status_time"].unique().tolist()

new_df = ip_df.copy(deep=True)
for idx, row in ip_df.iterrows():
    invoice_st_t = row[row["invoice_status_time"]]
    new_df.loc[idx, "invoice_status_time"] = invoice_st_t

In [4]:
new_df.head()

,ctry_nm,sto_sap_invoice,dps_tm_load_id,dps_tripid,source_location_type,source_location_name,destination_location_type,destination_location_name,order_created_on,plan_shipment_start_date_time,...,in_yard-yellow_flag,in_yard-red_flag,on_road,on_road-yellow_flag,on_road-red_flag,unloading,unloading-yellow_flag,unloading-red_flag,invoice_status_time,current_state
0,US,7613207034,14488711,46474415,PL,Location 0,PL,Location 96,08-03-2023,11-03-2023 13:19,...,0,0,0.250000,0,0,66.483333,1,0,14-03-2023 08:47,completed
1,US,7610846731,14488190,4139756,PL,Location 1,PL,Location 29,28-02-2023,11-03-2023 07:34,...,1,0,2.966667,0,0,70.250000,1,0,14-03-2023 08:42,completed
2,US,7613196031,14415427,46423838,PL,Location 2,DC,Location 97,10-03-2023,13-03-2023 12:31,...,0,0,4.866667,0,0,15.083333,0,0,14-03-2023 08:42,completed
3,US,7613226220,14415456,46423814,PL,Location 2,DC,Location 98,10-03-2023,13-03-2023 13:31,...,0,0,3.233333,0,0,14.883333,0,0,14-03-2023 08:37,completed
4,US,7613194801,14407672,46480447,PL,Location 0,DC,Location 99,04-03-2023,07-03-2023 23:19,...,0,0,1.933333,0,0,134.733333,1,1,14-03-2023 08:32,completed

In [5]:
ip_df[["invoice_status_time", "unload_date_time"]].head()

  invoice_status_time  unload_date_time
0    unload_date_time  14-03-2023 08:47
1    unload_date_time  14-03-2023 08:42
2    unload_date_time  14-03-2023 08:42
3    unload_date_time  14-03-2023 08:37
4    unload_date_time  14-03-2023 08:32

In [6]:
new_df[["invoice_status_time", "unload_date_time"]].head()

  invoice_status_time  unload_date_time
0    14-03-2023 08:47  14-03-2023 08:47
1    14-03-2023 08:42  14-03-2023 08:42
2    14-03-2023 08:42  14-03-2023 08:42
3    14-03-2023 08:37  14-03-2023 08:37
4    14-03-2023 08:32  14-03-2023 08:32

In [7]:
name = "/mnt/d/NLP_Capabiltiies/query_insights/data/masked_invoice_data_26apr.csv"
new_df.to_csv(name, index=None)

In [8]:
new_df["invoice_status_time"] = pd.to_datetime(new_df["invoice_status_time"])
new_df["invoice_status_time"]

/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '20-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '24-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13-03-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '23-11-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '28-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '22-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '21-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '21-09-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '27-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '23-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '16-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '30-09-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14-11-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '31-01-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '26-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/home/nj3/miniconda3/envs/query_insights/lib/python3.8/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '25-02-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)

0       2023-03-14 08:47:00
1       2023-03-14 08:42:00
2       2023-03-14 08:42:00
3       2023-03-14 08:37:00
4       2023-03-14 08:32:00
                ...
15629   2023-03-13 18:37:00
15630   2023-03-13 00:00:00
15631   2023-03-13 00:00:00
15632   2023-03-13 00:00:00
15633   2023-03-13 00:00:00
Name: invoice_status_time, Length: 15634, dtype: datetime64[ns]

In [9]:
test = pd.read_csv(name, infer_datetime_format=True)